{% extends "app/base.html" %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="/static/css/products.css">
    <link rel="stylesheet" type="text/css" href="/static/css/order.css">

    <div class="container">
        <!-- --------- Product Grid ----------------------  -->
        <div class="row">
            <div style="text-align:center; padding:1em 0;">
                <h1>Orders</h1>
            </div>
            {% for order in orders %}
            <div class="col-xs-12 order">
                <h2 style="font-size:1.2em">
                    Order Id: <a class="label" href="/order?id={{ order.id }}">{{ order.id }}</a>
                </h2>
                <div class="row">
                    {% for orderLine in order.orderLines %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail product-thumbnail">
                            <a href="{% url 'views.product' %}?id={{orderLine.product.id}}">
                                <img src="{{orderLine.product.imageUrl}}" alt="product name"></a>
                            <div class="product-caption">
                                <h3 id="name">Product: {{orderLine.productId}}</h3>
                                <h3>Price: {{orderLine.product.price}} &#36;</h3>
                                <p>Qty: {{orderLine.quantity}}</p>
                            </div>
                        </div>
                        <div>
                            <p>Status: {{ order.status }}</p>
                            <p>Created Date: {{ order.createdDate }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

